// width value of a page displaying on a desktop device
$desktop-min-width: 1200px;

// gap value between elements on desktop
$desktop-gap: 24px;

// gap value between elements on mobile
$mobile-gap: 16px;

$header-height: 56px;

$border-radius-base: 6px;

$bottom-nav-height: 56px;
